@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400,600,700,900&display=swap');
*{
    
    color: rgb(239, 245, 241);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}
.title, .my-info, .my-profile, .my-contacts {
    padding: 15px 40px;
    margin: 5px;
    background: #2c5830;
    border-radius: 15px;
}
.container{
    width: 70%;
    margin: auto;
}
.my-info{
    display: flex;
}
.my-info-text{
    margin-left: 20px;
}
.my-info-text h2{
    margin-top: 0;
}
.my-info-text p{
    margin: 5px 0;
}
.my-info img{
    width: 100%;
    border-radius: 20px;
}
h1{
    color: greenyellow;
    font-size: 16px;
    font-weight: 600;
}
h2{
    color: greenyellow;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
h3{
    color: #000;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    margin-left: 10px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
.table{
    display: grid;
    grid-template-columns: 20% 30% ;
    margin-left: 5%;
}
.img{
    margin: 5px;
    width: 200px;
}
.my-contacts-icon{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.my-contacts img{
    width: 60px;
}
.container h2, h1{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

